// Define variables for your color scheme

// Bootstrap:
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;

// Personnal:

// Colors
$red: #f65a6a;
$dark-red: #603747;
$yellow: #ebba0d;
$dark-yellow: #514c3f;
$light-yellow: #f9d26f;

// Shades of grey
$black: #232a3a;
$dark-grey: #2f3545;
$middle-grey: #585f71;
$grey: #3c4353;
$light-grey: #c4c4c4;
$x-light-grey: #e8e8e8;
$white: #fff;
