// Define variables for your color scheme

// Bootstrap:
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$white: #fff;
// Personnal:
$red: #f65a6a;
$dark-gray: #232a3a;
$gray: #2f3545;
$middle-gray: #3c4353;
$light-gray: #585f71;
