// Import Google fonts
// Source Sans Pro (weight: 400, 600, 700)
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
// Special Elite (weight: 400)
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

// Define fonts for body and headers
$body-font: 'Source Sans Pro', 'sans-serif';
$headers-font: 'Special Elite', 'cursive';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
