// Specific CSS for your home-page
body{
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(270deg, rgb(232, 232, 232) 0%, rgba(196, 196, 196, 0.8) 100%);
}

.page{
    // position
    position: relative;
    margin-left: 55%;
    top: 50vh;
    transform: translateY(-50%);
    // display
    height: 50em;
    width: 35em;
    border-radius: 10px;
    background-color: white;
    color: $dark-grey;
    color: $dark-grey;
    // children
    h4{
        padding-top: 70%;
        padding-left: 3rem;
        margin-bottom: 1em;
    }
    p{
        padding-left: 3rem; 
    }
    .logout{
        position: absolute;
        right: 5%;
        top: 5%;
        text-decoration: none;
    }
    .links{
        // position
        margin-top: 5rem;
        // dipslay
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        padding: 0 3rem;
        a{
            // position
            justify-self: center;
            // display
            text-align: center;
            font-family: $special;
            color: $dark-grey;
            text-decoration: none;
            // status
            &:hover{
                position: relative;
            }
            &:hover:after{
                content: url('select-ellipse.svg');
                display: block;
                position: absolute;
                width: 10em;
                top:-30%;
                left: -10%;
            }
        }
    }
}

.video-container{
    // position
    position: absolute;
    top:10%;
    left: 50%;
    z-index: 1;
    // display
    display: flex;
    justify-content: center;
    width: 25em;
    height: 20em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(35, 42, 58, 0.20);
    //children 
    iframe{
        // position
        margin-top: 5%;
        // display
        width: 90%;
        height: 75%;
        border-radius: 10px;
    }
}