// Specific CSS for your home-page
.body{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // column-gap: 2%;
}
.page{
    // position
    margin-left: 55%;
    margin-top: 50vh;
    transform: translateY(-50%);
    // grid-column-start: 7;
    // grid-column-end: 11;
    
    // display
    height: 50em;
    width: 35em;
    border-radius: 10px;
    background-color: white;
    color: $dark-gray;
    color: $dark-gray;
    // children
    h4{
        padding-top: 70%;
        padding-left: 3rem;
    }
    p{
        padding-left: 3rem; 
    }
}

.video-container{
    // position
    position: absolute;
    top:10%;
    margin-left: 50%;
    z-index: 10;
    // display
    display: flex;
    justify-content: center;
    width: 25em;
    height: 20em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(35, 42, 58, 0.10);
    //children 
    iframe{
        margin-top: 5%;
        width: 90%;
        height: 75%;
        border-radius: 10px;
    }
}