.page{
    .logout{
        // position
        position: absolute;
        right: 5%;
        top: 5%;
        z-index: 10;
        // display
        text-decoration: none;
    }
    a{
        // dipslay
        font-size: 1vw;
    }
    .links{
        // position
        position: absolute;
        top: 0;
        margin-top: 100%;
        // dipslay
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        padding: 0 3rem;
        a{
            // position
            justify-self: center;
            // display
            text-align: center;
            font-family: $special;
            color: $dark-grey;
            text-decoration: none;
            // status
            &:hover{
                // position
                position: relative;
            }
            &:hover:after{
                // position
                position: absolute;
                top:-30%;
                left: -10%;
                // display
                content: url('select-ellipse.svg');
                display: block;
                width: 10em;
            }
        }
    }
}

.video-container{
    // position
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 1;
    transform: translateY(-110%);
    // display
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 20vw;
    max-width: 419px;
    max-height: 335px;
    background-color: white;
    border-radius: 2.5%;
    box-shadow: 0px 0px 30px rgba(35, 42, 58, 0.20);
    //children 
    iframe{
        // position
        margin-top: 5%;
        // display
        width: 90%;
        height: 75%;
        border-radius: 2.5%;
    }
}

// fix font-size for big screens
@media (min-width: 1600px){
  .page{
    a{
        font-size: 1rem;
    }
  }  
}