.grid-container {
  .left{
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100%;
  }
    .microphone {
    margin-top: 180px;
    position: sticky;
    margin-right: 180px;
    top: 100px;
    }
  }
  .right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
    .radio-title {
      margin-top: 150px;
      h6 {
        color: $red;
      }
    }
    .audio-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-rows: auto;
    }
  }
