.infos-card {
  // width: 40%;
  background-color: white;
  border-radius: 1rem;

  .username {
    margin-top: 2.5rem;
  }

  .user-mail {
    margin-top: 2.5rem;
  }

  .text {
    margin-top: 2.5rem;

    p {
      margin-bottom: 0;
    }
  }
}

  .infos_container {
    position: absolute;
    top:0;
    margin-top: 70%;
    // margin-left: 20rem;
  }

.new-message {
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;

  .mes-messages {
    margin: 1rem;

    p {
      margin: 0;
    }
  }

  .add-audio-message {
    margin-right: 1.5rem;
  }

  a {
    text-decoration: none;
    font-family: $special;
        color: $dark-grey;

    &:hover{
      position: relative;
    }
    &:hover:after{
      content: url('select-ellipse.svg');
      display: block;
      position: absolute;
      width: 16em;
      top:-350%;
      left: -10%;
    }
  }
}

.audio-card {
  margin-top: 1rem;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  display: flex;

  .pseudo-and-audio {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .username {
      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    .player {
      background-color: #F65A6A;
      color: white;
      height: 100%;
      margin-bottom: 1rem;
      margin-right: 1rem;
      border-radius: 0.5rem;
      padding: 0.6rem;

      p {
        margin: 0;
      }
    }
  }
}

.little-avatar {
  width: 7rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.big-avatar-container {
  box-shadow: 0px 0px 30px rgba(35, 42, 58, 0.20);
  padding: 1rem;
  display: flex;
  width: 19rem;
  border-radius: 1rem;
  position: absolute;

  .image {
  }
}

.big-avatar {
  // position
  margin-top: 5%;
  // display
  width: 90%;
  height: 75%;
  border-radius: 2.5%;
  object-fit: cover;
}

.audio-container{
  margin-top: 20%;
  grid-column-start: 2;
}
.user{
  h4{
    position: relative;
  }
}