<div class="grid-container">
  <div class="left">
    <%= image_tag('microphone.svg', class: 'microphone') %>
  </div>
  <div class="right">
    <div class="radio-title">
      <h2>Radio Centre Aéré</h2>
      <h6>Les discours des membres de la résistance</h6>
    </div>
    <% if @audio_messages.empty? %>
    <div>
      <h2>Pas de messages publiés!</h2>
    </div>
    <% else %>
    <%= render 'shared/audio_card' %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'message_creator' %>
