<!-- Radio Centre Aéré -->
<div class="grid-container">
  <div class="left">
    <%= image_tag('microphone.svg', class: 'microphone') %>
  </div>
  <div class="right">
    <div class="radio-title">
      <h2>Radio Centre Aéré</h2>
      <h6>Les discours des membres de la résistance</h6>
    </div>
    <div class="audio-cards">
      <% if @audio_messages.empty? %>
        <h2>Pas de messages publiés!</h2>
      <% else %>
        <%= render 'shared/audio_card' %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'message_creator' %>
<%= javascript_pack_tag 'comment_btn' %>
