<div class="app">
  <div class="left">
    <%= image_tag('microphone.svg', class: 'microphone') %>
  </div>
  <div class="right">
    <div>
      <h1>Radio Centre Aéré</h1>
      <p>Les discours des membres de la résistance</p>
    </div>
    <% if @audio_messages.nil? %>
    <div>
      <h2>Pas de messages publiés!</h2>
    </div>
    <% else %>
    <div class="audio-cards">
      <% @audio_messages.each do |audio_message| %>
      <div class="audio-card">
        <h2 class="pseudo">
        <%= audio_message.user.email %>
        </h2>
        <p class="grade"><%= audio_message.description %></p>
        <div class="player">
          <% if audio_message.audio_file.attached? == false %>
          <p>Pas d'audio</p>
          <% else %>
          <%= audio_tag rails_blob_path(audio_message.audio_file), controls: true %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
