<h1>On est là papa. Tu vas faire quoi?</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>message de référence : <%= @message %></p>
<p><%= @encrypted %></p>
<p>test fonction décryptage : <%= @decrypted %></p>
