.audio-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 180px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .audio-card-avatar {
    width: 25%;
    padding: 15px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  .audio-card-body {
    padding: 15px 15px 15px 0px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pseudo {
      color: $black;
      margin: 0px;
      .user-link {
        color: $black;
      }
    }
    .grade {
      color: $red;
      margin: 0px;
    }
    .player {
      width: 100%;
      height: 60%;
      background-color: #F65A6A;
      border-radius: 25px;
      display: flex;
      audio {
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 25px;
        width: 100%;
        margin-top: 35px;
      }
    }
    .audio-message-comments {
      display: none;
    }
  }
}
