.audio-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 180px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  position:relative;
  .audio-card-avatar {
    width: 25%;
    padding: 15px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  .audio-card-body {
    padding: 15px 15px 15px 0px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pseudo {
      color: $black;
      margin: 0px;
      .user-link {
        color: $black;
      }
    }
    .grade {
      color: $red;
      margin: 0px;
    }
    .player {
      width: 100%;
      height: 60%;
      background-color: #F65A6A;
      border-radius: 25px;
      display: flex;
      audio {
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 25px;
        width: 100%;
        margin-top: 35px;
      }
    }
  }
}
.audio-card .audio-card-body .comments-btn {
  font-weight: bold;
  background-color:transparent;
  display:flex;
  cursor:pointer;
  color:#ffffff;
  text-decoration:none;
  text-shadow:0px 0px 3px #2f6627;
  width: 25%;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0px;
  border: none;
  bottom: -23px;
  p{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
  }
  i {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
  }
}
.audio-card .audio-card-body .comments-btn:focus {
  outline: none;
}

.audio-message-comments {
  display:none;
  background-color: #C4C4C4;
  padding: 15px;
  border-radius: 20px;

  .comment-card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    .comment-card-avatar {
      padding: 8px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
      }
    }
    .comment-card-body {
      padding: 8px;
      .comment-pseudo h5 {
        color: black;
        margin: 0px;
      }
    }
  }
}

.user-link {
  color: $black;
}

.audio-message-comments.is-visible {
    display: block;
  }
