.mask{
  // position
  position: relative;
  // display
  overflow: hidden;
  height: 100vh;
}
.body-background{
    // position
    position: relative;
    margin: 0 auto;
    z-index: -10;
    // display
    height: 100vh;
    width: 70%;
    max-width: 1173px;
}
.folder{
    // position
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%) rotate(-14deg);
    z-index: -10;
    padding-top: 954.35px / 1275.12px * 100%;
    // display
    height: 0;
    width: 75em;
    background-image: url('folder.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.folder-content{
    // position
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translateY(-38%) translateX(-102%) rotate(-14deg);
    z-index: -5;
    // display
    width: 45%;
    // children
    .shadow-page{
        // position
        position: absolute;
        z-index: 12; 
        // display
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.8) 120%);
    }
    .page{
        // position
        top: 0;
        transform: none;
        // display
        background-color: $x-light-grey;
        color: $dark-grey;
        // children
        h4{
            // position
            position: absolute;
            top: 0;
            padding-top: 10%;
            padding-left: 3rem;
        }
        p{
            // position
            top: 0;
            position: absolute;
            padding-top: 20%;
            padding-left: 3rem; 
        }
    }
}
.photo-container{
    // position
    position: absolute;
    // display
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    max-width: 250px;
    max-height: 250px;
    border-radius: 2.5%;
    box-shadow: 0px 0px 30px rgba(35, 42, 58, 0.20);
    background-color: $x-light-grey;
    //  children
    .photo{
        //  position
        margin-top: 5%;
        // display
        width: 90%;
        height: 70%;
        background-color: $grey;
        border-radius: 2.5%; 
    }
}
// position of polaroids
#first{
    // position
    top: 50%;
    left: 10%;
    transform: rotate(23deg);
}
#second{
    // position
    top: 30%;
    left: 50%;
    transform: translateX(-320%) rotate(30deg);
    z-index: -15;
    // display
    opacity: 60%;
}
#third{
    // position
    top: 0%;
    left: 40%;
    transform: rotate(230deg);
    z-index: -15;
    // display
    opacity: 60%;
}
#fourth{
    // position
    bottom: -5%;
    right: 20%;
    transform: rotate(-20deg);
    z-index: -15;
    // display
    opacity: 60%;
}

// position of elements
.pencil{
    // position
    position: absolute;
    top:18%;
    right: 50%;
    transform: translateX(260%) rotate(60deg);
    z-index: -15;
    // display
    opacity: 80%;
    width: 20vw;
    max-width: 318px;
}

.flower{
    // position
    position: absolute;
    top:5%;
    left: 50%;
    transform: translateX(-210%) rotate(160deg);
    z-index: -20;
    // display
    opacity: 80%;
    width: 15vw;
    max-width: 232px;
}

.scribbles{
    // position
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-210%) rotate(0deg);
    z-index: -20;
    // display
    opacity: 80%;
    width: 20vw;
    max-width: 335px;
}
.stickman{
    // position
    position: absolute;
    top:40%;
    right: 50%;
    transform: translateX(550%) rotate(20deg);
    z-index: -20;
    // display
    opacity: 80%;
    height: 20vw;
    max-height: 335px;
}

