.bg-logo{
    // position
    position: absolute;
    left: 0;
    top: 0;
    z-index: -11;
    // display
    width: 30em;
    height: 20em;
    background: linear-gradient(90deg, rgba(35,42,58,1) 0%, rgba(47,53,69,1) 90%);
}
.logo{
    position: fixed;
    width: 17em;
    top: 1em;
    left: 5em;
}
.folder{
    // position
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    rotate: -14deg;
    z-index: -10;
    // display
    width: 85em;
}
.back-page{
    // position
    position: absolute;
    left: -25em;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    rotate: -14deg;
    z-index: -5;

    height: 50em;
    width: 35em;
    .shadow-page{
        // position
        position: absolute;
        z-index: 12; 
        // display
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(270deg, rgba(35,42,58,0.2) 0%, rgba(35,42,58,1) 120%);
    }
    .page{
        // position
        position: relative;
        margin:0;
        top: 0;
        // display
        background-color: $light-gray;
        color: $dark-gray;
        // children
        h4{
            padding-top: 10%;
            padding-left: 3rem;
        }
        p{
            padding-left: 3rem; 
        }
    }

    .photo-container{
         // position
         position: absolute;
         top: 50%;
         left: 10%;
         rotate: 23deg;
         // display
         display: flex;
         justify-content: center;
         width: 45%;
         height: 30%;
         border-radius: 10px;
         box-shadow: 0px 0px 30px rgba(35, 42, 58, 0.50);
         background-color: $light-gray;
         
         .photo{
            //  position
            margin-top: 5%;
            // display
            width: 90%;
            height: 70%;
            background-color: $gray;
            border-radius: 10px; 
         }
    }
}