// messages
.message-form {
    width: 40%;
    background-color: white;
    padding: 1rem;
    margin: auto;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .submit-button {
      margin-top: 0.75rem;
      padding: 0.5rem 1rem;
      width: 33.333%;
      border-radius: 0.25rem;
      transition-duration: 0.25s;
    }
    .submit-button:hover {
      background-color: #3182ce;
    }
  }

  .form {
    padding: 0.75rem 0.5rem;
    width: 100%;
    border-radius: 0.25rem;
    line-height: 1.25;
  }

  // sign-in, sign-up
  .sign-in-form, .sign-up-form{
    position: absolute;
    top: 0;
    margin-top: 35%;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
  }

  .sign-in, .sign-up{
    .links{
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        padding-left: 3rem;
    }
}

.sign-up-form{
  margin-top: 15%;
}

.sign-up{
  h4{
    padding-top: 8%;
  }
}
.sign-in{
  h4{
    padding-top: 10%;
  }
}
