.bg-logo{
  // position
  position: fixed;
  left: 3em;
  top: 0;
  // z-index: -11;
  // display
  width: 21em;
  height: 8em;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(90deg, $yellow 0%, $light-yellow 90%);
}

.logo{
  // position
  position: fixed;
  top: 1em;
  left: 5em;
  // display
  width: 17em;
  z-index: 2;
}

